h1 {
  font-family: verdana;
  color: #9cbbed;
  text-shadow: 2px 2px 8px #071328;
}
p, .jsLog, .uiButton {
  color: #253959;
  font-family: verdana;
  font-size: 10px;
  margin: auto;
}

.jsLog2, .termButton {
  border: none;
  background: none;
  color: #9cbbed;
  font-family: verdana;
  font-size: 10px;
  margin: auto;
}

.reddified {
  color: red;
}

#wordField {
  font-size: 18px;
}

body > div {
  position: absolute;
  height: 100%;
  width: 40%;
  top: 50%;
  left: 50%;
  background-color: #253959;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
}

.popupDiv {
  z-index: 1;
  width: 60%;
  border: 1px solid white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.helperLog {
  color: #afceff;
  font-family: verdana;
  font-size: 8px;
}
.themeBreak {
  color: #253959;
  font-family: verdana;
  font-weight: 'bold';
}

.invisible {
  visibility: hidden;
}

#defField {
  height: 30%;
  text-justify: center;
}

.textField {
  margin: auto;
  border: 1px solid white;
  overflow-y:scroll;
  width: 70%;
}

#scrollbox {
  height: 20%;
  top: 90%;
}
